<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.dramkos">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".util.MyApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_dramkos_launcher"
        android:label="Dramkos"
        android:networkSecurityConfig="@xml/network_security"
        android:usesCleartextTraffic="true"
        android:roundIcon="@mipmap/ic_dramkos_launcher_round"
        android:supportsRtl="true"

        android:theme="@style/Theme.Dramkos"
        tools:targetApi="n">

        <activity
            android:name="com.example.dramkos.ui.navigation.NavigationUserActivity"
            android:exported="true">



        </activity>
        <activity
            android:name="com.example.dramkos.ui.navigation.NavigationAdminActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity
            android:name="com.example.dramkos.ui.user.detailkos.DetailKosActivity"
            android:exported="true">


        </activity>


        <activity
            android:name="com.example.dramkos.ui.auth.LoginUserActivity"
            android:exported="true" >

        </activity>

        <activity
            android:name="com.example.dramkos.ui.auth.LoginAdminActivity"
            android:exported="true" >

        </activity>
        <activity
            android:name="com.example.dramkos.ui.auth.RegisterUserActivity"
            android:exported="true" />
        <activity
            android:name="com.example.dramkos.ui.auth.RegisterAdminActivity"
            android:exported="true" />

        <activity
            android:name=".MainActivity"
            android:exported="true" >
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>