<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.dramkos">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Dramkos"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Dramkos">
        <activity
            android:name=".Login"
            android:exported="false" />
        <activity
            android:name=".RegisterAdmin"
            android:exported="false" />
        <activity
            android:name=".RegisterUser"
            android:exported="false" />
        <activity
            android:name=".Register"
            android:exported="false" />
        <activity
            android:name=".Navigation"
            android:exported="true"
            android:label="Navigation">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true" />
    </application>

</manifest>